/* body > similar symbols */
.css_symbol_field .css_symbol_body .css_symbol_similar_symbols {
  position: relative;
  width: 100%;
}

/* body > similar symbols > similar symbol */
.css_symbol_field .css_symbol_body .css_symbol_similar_symbols .css_symbol_similar_symbol {
  position: relative;
  width: 100%;
  height: 45px;
}

/* body > similar symbols > similar symbol > icon */
.css_symbol_field .css_symbol_body .css_symbol_similar_symbols .css_symbol_similar_symbol .css_symbol_similar_symbol_icon {
  position: absolute;
  top: 0px;
  left: calc((60px - 45px) / 2);
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.css_symbol_field .css_symbol_body .css_symbol_similar_symbols .css_symbol_similar_symbol .css_symbol_similar_symbol_icon span.css_material_symbols_rounded {
  color: var(--m-cssvar-333333);
}

/* body > similar symbols > similar symbol > name */
.css_symbol_field .css_symbol_body .css_symbol_similar_symbols .css_symbol_similar_symbol .css_symbol_similar_symbol_name {
  position: absolute;
  top: 0px;
  left: 60px;
  width: calc(100% - 60px - (60px - 45px) / 2);
  height: 45px;
  font-size: 20px;
  line-height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
  color: var(--m-cssvar-333333);
}