:root {
  --m-cssvar-ffffff: rgb(255, 255, 255);
  --m-cssvar-f9f9fb: rgb(249, 249, 251);
  --m-cssvar-333333: rgb(51, 51, 51);
  --m-cssvar-aeaeb2: rgb(174, 174, 178);
}

@media (prefers-color-scheme: dark) {
  :root {
    --m-cssvar-ffffff: rgb(0, 0, 0);
    --m-cssvar-f9f9fb: rgb(9, 10, 12);
    --m-cssvar-333333: rgb(255, 255, 255);
    --m-cssvar-aeaeb2: rgb(31, 32, 35);
  }
}