:root {
  --m-cssvar-ffffff: rgb(255, 255, 255);

  --m-cssvar-ededf2: rgb(237, 237, 242);
  --m-cssvar-ededf2-60: rgba(237, 237, 242, 0.6);

  --m-cssvar-333333: rgb(51, 51, 51);

  --m-cssvar-head-background: linear-gradient(180deg, var(--m-cssvar-ffffff) 0%, var(--m-cssvar-ffffff) 5%, rgba(0, 0, 0, 0) 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --m-cssvar-ffffff: rgb(15, 17, 21);

    --m-cssvar-ededf2: rgb(22, 25, 34);
    --m-cssvar-ededf2-60: rgba(22, 25, 34, 0.6);

    --m-cssvar-333333: rgb(255, 255, 255);
  }
}