.css_gallery_field .css_gallery_head {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  background: var(--m-cssvar-ffffff);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--m-cssvar-f9f9fb);
  box-sizing: border-box;
}

.css_gallery_field .css_gallery_head .css_gallery_head_search_input {
  position: absolute;
  top: 10px;
  left: 90px;
  width: calc(100% - 90px - 90px);
  height: 40px;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  contain: layout;
  overflow: clip;
  background: var(--m-cssvar-f9f9fb);
  border-radius: calc(40px * 0.5);
  color: var(--m-cssvar-aeaeb2);
}

.css_gallery_field .css_gallery_head .css_gallery_head_button_left,
.css_gallery_field .css_gallery_head .css_gallery_head_button_right {
  width: 45px;
  height: 45px;
  border-radius: calc(45px / 2);
  contain: layout;
  overflow: clip;
  display: flex;
  justify-content: center;
  align-items: center;
}

.css_gallery_field .css_gallery_head .css_gallery_head_button_left {
  position: absolute;
  top: calc((60px - 45px) / 2);
  left: calc((60px - 45px) / 2);
}

.css_gallery_field .css_gallery_head .css_gallery_head_button_right {
  position: absolute;
  top: calc((60px - 45px) / 2);
  right: calc((60px - 45px) / 2);
}

.css_gallery_field .css_gallery_head .css_gallery_head_button_left span.css_material_symbols_rounded,
.css_gallery_field .css_gallery_head .css_gallery_head_button_right span.css_material_symbols_rounded {
  color: var(--m-cssvar-333333);
}