/* symbols */
.css_gallery_field .css_gallery_body .css_gallery_symbols {
  position: relative;
  top: 60px;
  left: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 7.5px;
  box-sizing: border-box;
  overflow: clip;
  contain: layout;
}

/* symbols > symbol */
.css_gallery_field .css_gallery_body .css_gallery_symbols .css_gallery_symbols_symbol {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  width: clamp(80px, 20%, 120px);
}

.css_gallery_field .css_gallery_body .css_gallery_symbols .css_gallery_symbols_symbol span.css_material_symbols_rounded {
  color: var(--m-cssvar-333333);
  font-size: 48px;
  width: 48px;
  height: 48px;
}

/* skeleton-screen: true */
.css_gallery_field .css_gallery_body .css_gallery_symbols .css_gallery_symbols_symbol[skeleton-screen="true"] span.css_material_symbols_rounded {
  border-radius: 15px;
  background: var(--m-cssvar-f9f9fb);
  color: rgba(0, 0, 0, 0);
}