/* symbols */
.css_gallery_field .css_gallery_body .css_gallery_symbols {
  position: relative;
  max-width: 1200px;
  margin: 60px auto;
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  box-sizing: border-box;
}

/* symbols > symbol */
.css_gallery_field .css_gallery_body .css_gallery_symbols .css_gallery_symbols_symbol {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
}

.css_gallery_field .css_gallery_body .css_gallery_symbols .css_gallery_symbols_symbol span.css_material_symbols_rounded {
  color: var(--m-cssvar-333333);
  font-size: 48px;
  width: 48px;
  height: 48px;
}

/* skeleton-screen: true */
.css_gallery_field .css_gallery_body .css_gallery_symbols .css_gallery_symbols_symbol[skeleton-screen="true"] span.css_material_symbols_rounded {
  border-radius: 15px;
  background: var(--m-cssvar-ededf2);
  color: rgba(0, 0, 0, 0);
}