/* body */
.css_related_symbols_section .css_related_symbol_body {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 16px;
}

.css_related_symbols_section .css_related_symbol_body[empty="true"] {
  height: 144px;
}

.css_related_symbols_section .css_related_symbol_body[empty="true"]::after {
  content: 'No Related Symbols';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  color: var(--m-cssvar-333333-60);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* view: grid */
.css_related_symbols_section .css_related_symbol_body[view="grid"] {
  grid-template-columns: repeat(auto-fill, minmax(132px, 1fr));
  gap: 12px;
}

/* view: list */
.css_related_symbols_section .css_related_symbol_body[view="list"] {
  grid-template-columns: 1fr;
  gap: 8px;
}

/* body > symbol */
.css_related_symbols_section .css_related_symbol_body .css_related_symbol {
  display: flex;
  padding: 18px 12px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--m-cssvar-ededf2);
  border-radius: 12px;
  background: var(--m-cssvar-ffffff);
  cursor: pointer;
}

/* view: grid */
.css_related_symbols_section .css_related_symbol_body[view="grid"] .css_related_symbol {
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
}

/* view: list */
.css_related_symbols_section .css_related_symbol_body[view="list"] .css_related_symbol {
  flex-direction: row;
  align-items: center;
  text-align: left;
  gap: 16px;
  padding: 12px 16px;
}

/* body > symbol > glyph */
.css_related_symbols_section .css_related_symbol_body .css_related_symbol .css_related_symbol_glyph {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* view: grid */
.css_related_symbols_section .css_related_symbol_body[view="grid"] .css_related_symbol .css_related_symbol_glyph {
  width: 40px;
  height: 40px;
}

/* view: list */
.css_related_symbols_section .css_related_symbol_body[view="list"] .css_related_symbol .css_related_symbol_glyph {
  width: 30px;
  height: 30px;
}

.css_related_symbols_section .css_related_symbol_body .css_related_symbol .css_related_symbol_glyph span.css_material_symbols_rounded {
  color: var(--m-cssvar-333333);
  cursor: pointer;
}

/* view: grid */
.css_related_symbols_section .css_related_symbol_body[view="grid"] .css_related_symbol .css_related_symbol_glyph span.css_material_symbols_rounded {
  font-size: 40px;
  width: 40px;
  height: 40px;
}

/* view: list */
.css_related_symbols_section .css_related_symbol_body[view="list"] .css_related_symbol .css_related_symbol_glyph span.css_material_symbols_rounded {
  font-size: 30px;
  width: 30px;
  height: 30px;
}

/* body > symbol > text */
.css_related_symbols_section .css_related_symbol_body .css_related_symbol .css_related_symbol_text {
  display: flex;
  cursor: pointer;
}

/* view: grid */
.css_related_symbols_section .css_related_symbol_body[view="grid"] .css_related_symbol .css_related_symbol_text {
  flex-direction: row;
}

/* view: list */
.css_related_symbols_section .css_related_symbol_body[view="list"] .css_related_symbol .css_related_symbol_text {
  flex-direction: column;
}

/* body > symbol > text > name */
.css_related_symbols_section .css_related_symbol_body .css_related_symbol .css_related_symbol_text .css_related_symbol_name {
  font-size: 14px;
  font-weight: 600;
  color: var(--m-cssvar-333333);
  word-break: break-all;
  cursor: pointer;
}

/* body > symbol > text > description */
.css_related_symbols_section .css_related_symbol_body .css_related_symbol .css_related_symbol_text .css_related_symbol_description {
  font-size: 12px;
  color: var(--m-cssvar-333333-60);
  cursor: pointer;
}

/* view: grid */
.css_related_symbols_section .css_related_symbol_body[view="grid"] .css_related_symbol .css_related_symbol_text .css_related_symbol_description {
  display: none;
}

/* view: list */
.css_related_symbols_section .css_related_symbol_body[view="list"] .css_related_symbol .css_related_symbol_text .css_related_symbol_description {
  display: inline-block;
}