/* search */
.css_search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(15, 15, 15, 0.28);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.css_search[displayed="true"] {
  visibility: visible;
}