/* search > panel > results */
.css_search .css_search_panel .css_search_results {
  position: absolute;
  top: 55px;
  left: 0px;
  width: 100%;
  height: calc(45px * var(--m-visible-search-results-quantity));
}

/* search > panel > results > result */
.css_search .css_search_panel .css_search_results .css_search_result {
  position: relative;
  left: 10px;
  width: calc(100% - 10px - 10px);
  height: 45px;
}

/* search > panel > results > result > glyph */
.css_search .css_search_panel .css_search_results .css_search_result .css_search_result_glyph {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.css_search .css_search_panel .css_search_results .css_search_result .css_search_result_glyph span.css_material_symbols_rounded {
  color: var(--m-cssvar-333333);
}

/* search > panel > results > result > name */
.css_search .css_search_panel .css_search_results .css_search_result .css_search_result_name {
  position: absolute;
  left: 45px;
  top: 0px;
  width: calc(100% - 45px - 10px);
  height: 45px;
  display: flex;
  align-items: center;
  color: var(--m-cssvar-333333);
}