/* results */
.css_search_field .css_search_body .css_search_results {
  position: relative;
  margin-top: 60px;
  width: 100%;
}

@media (max-width: 900px) {
  .css_search_field .css_search_body .css_search_results {
    margin-top: calc(var(--m-cssvar-safe-area-top) + 60px);
  }
}

/* results > result */
.css_search_field .css_search_body .css_search_results .css_search_result {
  position: relative;
  width: 100%;
  height: 45px;
  contain: layout;
  overflow: clip;
}

/* results > result > icon */
.css_search_field .css_search_body .css_search_results .css_search_result .css_search_result_symbol {
  position: absolute;
  top: 0px;
  left: calc((60px - 45px) / 2);
  width: 45px;
  height: 45px;
  contain: layout;
  overflow: clip;
  display: flex;
  justify-content: center;
  align-items: center;
}

.css_search_field .css_search_body .css_search_results .css_search_result .css_search_result_symbol span.css_material_symbols_rounded {
  color: var(--m-cssvar-333333);
}

/* results > result > symbol name */
.css_search_field .css_search_body .css_search_results .css_search_result .css_search_result_symbol_name {
  position: absolute;
  top: 0px;
  left: 60px;
  width: calc(100% - 60px - (60px - 45px) / 2);
  height: 45px;
  contain: layout;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
  line-height: 45px;
  color: var(--m-cssvar-333333);
  font-size: 20px;
}